* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAF9F6;
    color: #000000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* #####################   HOME PAGE   ################### */



/* #######################     FOOTER      ######################### */


/* ######################      PROJECTS PAGE      ###################### */

.projects h2 {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: 600;
}

.projects-container {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.project-container {
    display: inline-grid;
    grid-template-columns: 40% 50%;
    padding: 10px;
    margin-block: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
}

.project-img-div button {
    margin-block: 10px;
    margin-left: 20px;
    font-size: 1rem;
    color: #fff;
    background: #373737;
    border-radius: 5px;
    padding: 5px;
    border: none;
    display: inline-block;
}

.project-img-div a {
    text-decoration: none;
    color: #fff;
}

.project-img-div button:hover {
    cursor: pointer;
    background: #6b6b6b;
}

.project-img-div {
    padding-inline: 10px;
}

.project-image {
    padding: 15px;
    width: 90%;
    height: auto;
}

.project-container p {
    text-align: justify;
    line-height: 1.2;
}

.project-container em {
    text-decoration: underline;
}

.project-container h4 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
}

/* #####################       CONTACT PAGE    ##################### */

.contact-header {
    align-items: center;
    margin: 5%;
    padding: 15%;
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    background-color: #faf9f6;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

.contact-header ul {
    text-align: center;
}

.contact-header ul li {
    list-style: none;
    display: inline;
}

.contact-header h1 {
    text-align: center;
    margin-bottom: 10%;
}

.contact-header ul li a {
    text-decoration: none;
    color: black;
    margin-inline: 25px;
}

.contact-body {
    margin-inline: 5%;
}

.map-container {
    padding: 20px;
}

.form {
    padding: 5% 10%;
}

.form label {
    font-size: 1.5rem;
    margin: 10px;
}

.form input {
    width: 100%;
    height: 30px;
    border: none;
    padding: 5px;
    margin: 10px;
}

.form textarea {
    width: 100%;
    padding: 5px;
    height: 150px;
    margin: 10px;
    resize: none;
}

.form button {
    padding: 5px;
    height: 30px;
    border: none;
    color: #fff;
    font-size: 1rem;
    background: #373737;
    width: 50%;
    margin-inline: 25%;
}

.form button:hover {
    cursor: pointer;
    color: #373737;
    background: white;
    border: 1px solid;
    transition: .2s;
}

/* ########################    SKILLS PAGE     ####################### */

.skills h2 {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
}

.timeline {
    margin: 5%;
    position: relative;
}

.timeline::after {
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
    background: #6b6b6b;
    left: 25%;
    z-index: -2;
    top: 0;
    animation: moveline 6s linear forwards;
}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.timeline-container span {
    width: 17px;
    height: 17px;
    position: absolute;
    background: silver;
    border-radius: 100%;
    z-index: -1;
    left: 39%;
    top: 0;
}

.timeline-container h3 {
    text-align: right;
    right: 68%;
    position: relative;
}

.timeline-container {
    width: 50%;
    height: 70vh;
    position: relative;
    margin-left: 5%;
}

.timeline-container a {
    text-decoration: none;
    color: #373737;
}

.timeline-container p {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: absolute;
    padding: 15px;
    top: 12%;
    margin-left: 50%;
    text-align: start;
}


/* ***********************MOBILE RESPONSIVE ****************** */

@media only screen and (max-width: 560px) {
    .projects {
        padding: 10%;
    }

    .project-container {
        display: block;
        padding: 10%;
    }

    .project-container p {
        padding-inline: 25px;
    }

    .timeline {
        margin: 15%;
    }

    .timeline-container span {
        margin: -4px;
    }

}