.home-content{
    position: relative;
}
.info-content {
    /* background: url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=400); */
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9Q4QQA0o2JjJ4MguUBAlsvLhWBU01elXY2g&usqp=CAU);
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;
}
.home-header{
    height: 100vh;
    padding: 18%;
    color: white;
    font-size: 2.5rem;
}
.home-header h1 span {
    color: silver;
}

.about-content {
    position: relative;
    background: #faf9f6;
    z-index: 1;
    padding: 5%;
    height: 100vh;
    text-align: center;
}
.about-content h2{
    font-weight: 600;
}
.grid-container {
    display: inline-grid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    grid-template-columns: 350px 650px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.container {
    padding: 5%;
}

.container img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.resume-container {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.container a {
    width: 200px;
    background: #373737;
    margin: auto;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
.container a:hover{
    color: #6b6b6b;
    background: white;
    border: 1px solid;
    transition: .2s;
}

.container p {
    padding: 10px;
    text-align: justify;
    line-height: 1.3;
}

@media (max-width: 480px){
    .home-header{
        padding: 25%;
        font-size: 1.8rem;
    }
    .grid-container {
        display:block;
        margin: 0px;
    }
    .about-content{
        height: 100%;
        margin-top: 10px;
        margin-inline: 2px;
    }
}