.info-content {
    /* background: url(https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&w=400); */
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9Q4QQA0o2JjJ4MguUBAlsvLhWBU01elXY2g&usqp=CAU);
    background-position: center;
    background-size: cover;
}
.home-header{
    height: 100vh;
    padding: 18%;
    font-size: 2.5rem;
}

.about-content {
    margin-top: 20px;
    height: 100vh;
    text-align: center;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 350px 650px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

.container {
    margin: 5px;
    padding: 10px;
}

.container img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
}

.resume-container {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.container a {
    width: 200px;
    background: #373737;
    margin: auto;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}
.container a:hover{
    background: #6b6b6b;
}

.container p {
    padding: 10px;
    text-align: justify;
    line-height: 1.3;
}

@media (max-width: 480px){
    .home-header{
        padding: 25%;
        font-size: 1.8rem;
    }
    .grid-container {
        display:block;
    }
    .about-content{
        height: 100%;
    }
}