.footer {
    background: #2a2a2a;
    line-height: 1.5;
    color: #6c757d;
    height: 40vh;
    position: relative;
    bottom: 0;
}

.footer-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-around;
    padding-inline: 10%;
}

.footer-content {
    padding: 10px;
}
.footer-content img{
    height: 80px;
    width: 80px;
}

.footer-content ul li {
    list-style: none;
    font-size: .9rem;
    padding-block: 5px;
}
.footer-content ul{
    font-size: .9rem;
}

.footer a {
    text-decoration: none;
    color: #6c757d;
}
.footer a:hover{
    text-decoration: underline;
}
.footer h3{
    color: #fff;
}
.footer-icon{
    padding-top: 5px;
}
.footer p {
    padding-top: 20px;
    text-align: center;
    font-size: .9rem;
}

@media (max-width: 480px){
    .footer-grid{
        bottom: 0;
    }
    .footer-content {
        padding: 5px;
    }
}
